@import "../../node_modules/bootstrap/scss/bootstrap";

.mw-max-content {
  max-width: max-content;
}

.darkgold {
  color: $yellow-600;
}

.no-border {
  border: none;
}

.table {
  // @include font-size(0.95rem);
}

.table th {
  // @include font-size(1.1rem);
}

.star {
  // @include font-size(0.75rem);
}

.deleteButton {
  // @include font-size(0.8rem);
}
